.header {
  max-width: 880px;
  margin-top: 45px;
  display: flex;
  align-items: stretch;
  padding-bottom: 40px;
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
}
@media screen and (max-width: 720px) {
  .header {
    margin-top: 28px;
  }
}
.header__logo {
  width: 126px;
  height: 24px;
  margin-top: 28px;
}
