.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  color: white;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  color: white;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 0;
}

.footer__social-link {
  transition: color 1s ease-in-out;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 0;
  margin-top: 108px;
  color: white;
}
