.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  padding: 0 0 120px;
  margin: 0;
}

.form__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid #838383;
  margin-top: 8px;
  height: 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 32px;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #2f80ed;
  font-style: normal;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  color: #ffffff;
  border: none;
  transition: opacity 0.5s ease-in-out;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 12px;
  border-radius: 2px;
}
