.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  color: black;
  padding: 100px 0 100px;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}
