.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 1s ease-in-out;
}

.modal__container {
  background-color: #fff;
  padding: 34px 36px;
  border-radius: 10px;
  position: relative;
  max-width: 480px;
  width: 100%;
  min-height: 323px;
  box-sizing: border-box;
}

.modal__heading {
  color: #000000;
  width: 330px;
  height: 23px;
  margin: 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  gap: 15px;
}

.modal__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.modal__button {
  width: 100%;
  margin-top: 48px;
  height: 50px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  padding: 0;
  display: block;
  transition: opacity 0.5s ease-in-out;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal__close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url("../images/Close Icon.svg");
  border: none;
  background-color: #000;
  z-index: 1;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__image-container {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.modal__caption {
  padding: 5px;
  color: #ffffff;
  width: 100%;
  height: 12px;
  font-size: 12px;
  line-height: 14px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.modal__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  background-image: url("../images/Close Icon.svg");
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .modal__container {
    max-width: calc(100% - 19px * 2);
    margin-top: 8px;
    padding: 25px 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal__heading {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
  }

  .modal__button {
    width: 100%;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #ffffff;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    gap: 10px;
  }

  .modal__input {
    width: 100%;
  }
  .modal__close {
    right: 7px;
    top: -42px;
    width: 20px;
    height: 20px;
  }
}
